<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Reservation</title>
</head>
<body>
    <form action="/guesthousereservation/add" method="post"></form>
    <select name="GuestId"></select>
    <option value="<%= %> "></option>

    <label>start_date</label> <br>
    <input type="date"> <br>
    <label>end_date</label> <br>
    <input type="date"> <br>
</body>
</html>