<%- include('partials/head') %> 
<body>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <a href="/guesthouses">List Guest House</a>
  <a href="/guesthousereservation">Info Booking</a>
</div>
<div style="width:50%; margin:auto;">
    <script src="https://gist.github.com/Uniminin/a18daded82cd3e6e73dd365d5a9719bc.js"></script>
</div>
</body>
</html>
